<h1>Editing Post</h1>

<%= form_for @post do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title %>
   <br>

   <%= f.label :description %>
   <%= f.text_area :description %>

   <%= f.submit %>
<% end %>